<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<nav class="navbar navbar-dark bg-dark">
<h1>AirBnB</h1>
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button">  <%= link_to "Add New Flat", new_flat_path %></button>
  </form>
</nav>
</nav>
    <%= yield %>
  </body>
</html>
